* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    
    #scoreboard {
        color: white;

    } 
 }

body {
    background-image: url(/assets/images/death-star-wars-movies-black-x-high-660795.jpg);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;



    img {
        width: 80px;
    }

    .ligne {
        display: flex;
        flex: 1;

        .cell {
            flex: 1;
        }
    }

    .titre {
        position: absolute;
        top: 50%;
        left: 50%;

    }

 .victoire{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;

 }   
}